*/bin/
*/gen/
.classpath
.settings
.project
local.properties
.DS_Store
lint.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
.gradle
.idea
build/
*.iml
gradle/
gradlew
gradlew.bat
*.swp
